.brands-section {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .img-thumbnail {
    border: none;
    background-color: transparent;
  }
  img {
    opacity: 0.5;
  }
  img:hover {
    opacity: 1;
    transition: all 0.5s ease-in-out;
    transform: scale(1.2);
  }
}
