.container {
  .filter-bar {
    .price {
    }
  }
}
.filterContainer {
  margin-top: 5rem;
}

.close-toggler {
  padding: 10px;
  margin-bottom: 20px !important;
  margin-top: 20px !important;
  margin: auto;
  border: none;
  border-bottom: 2px solid gray;
}
.close {
  display: none;
  height: 0;
}

@media only screen and (min-width: 990px) {
  .close {
    display: block;
    height: 100%;
  }
}
