.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: 100px;
  width: 100%;
  font-size: 1.1rem;
  .a {
    color: floralwhite;
  }
}
.navbar-after-scroll {
  background-color: white;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 0px 6px 11px 0px rgba(50, 50, 50, 0.37);
  -moz-box-shadow: 0px 6px 11px 0px rgba(50, 50, 50, 0.37);
  box-shadow: 0px 6px 11px 0px rgba(50, 50, 50, 0.37);
  .a {
    color: black;
  }
}
.logo {
  position: fixed;
  left: 45px;
  top: 41px;
}

.searchicon {
  position: fixed;

  top: 40px;
  right: 250px;
}
.searchicon:hover {
  z-index: 4;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  transform: scale(1.2);
}

.personicon {
  position: fixed;
  top: 40px;
  right: 190px;
}

.personicon:hover {
  z-index: 4;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  transform: scale(1.2);
}

.hearticon {
  position: fixed;

  top: 40px;
  right: 130px;
}
.hearticon:hover {
  z-index: 4;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  transform: scale(1.2);
}

.logouticon {
  position: fixed;
  top: 40px;
  right: 10px;
}

.logouticon:hover {
  z-index: 4;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  transform: scale(1.2);
}

.bagicon {
  position: fixed;
  top: 40px;
  right: 70px;
}
.bagicon:hover {
  z-index: 4;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  transform: scale(1.2);
}

#nav {
  position: relative;
  top: 40px;
  margin: auto auto;
}
#home {
  font-weight: bold;
  font-family: "Lucida Console", Monaco, monospace;
  letter-spacing: 3px;
}

#shop {
  font-weight: bold;
  font-family: "Lucida Console", Monaco, monospace;
  letter-spacing: 2px;
}

#headers {
  font-weight: bold;
  font-family: "Lucida Console", Monaco, monospace;
  letter-spacing: 2px;
}

#blog {
  font-weight: bold;
  font-family: "Lucida Console", Monaco, monospace;
  letter-spacing: 2px;
}

#pages {
  font-weight: bold;

  font-family: "Lucida Console", Monaco, monospace;
  letter-spacing: 2px;
}

#mega {
  font-weight: bold;
  font-family: "Lucida Console", Monaco, monospace;
  letter-spacing: 2px;
}

#contact {
  font-weight: bold;
  font-family: "Lucida Console", Monaco, monospace;
  letter-spacing: 2px;
}

.like-count {
  border: 1px solid rgba(0, 0, 0, 0.651);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  top: -30px;
  left: 18px;
}
