body {
  background-color: #f3f3f3;
  font-family: "Inter", sans-serif;
  .App {
    text-align: center;
  }

  .margin-all {
    margin-top: 5rem;
  }

  .font-marcellus {
    font-family: "Marcellus", serif;
  }
}
