.slide-wrap {
  width: 35%;
  height: 50%;
  border: 1px solid black;
  position: absolute;
  top: 15%;
  left: 10%;
  text-align: left;
  display: flex;
  flex-direction: column;
  .text-above {
    font-size: 3vh;
    letter-spacing: 1.6vh;
  }
  .inner-title {
    font-size: 10vh;
    line-height: 1;
    letter-spacing: 2vh;
  }
  .description {
    font-size: 2vh;
    line-height: 1.6;
  }
  .read-more-btn {
    font-size: 2vh;
    width: max-content;
    padding: 10px;
  }
}
