.slide-wrap {
  width: 35%;
  height: 50%;
  top: 15%;
  left: 10%;
  text-align: left;
  display: flex;
  flex-direction: column;
  .text-above {
    font-size: 1vw;
    letter-spacing: 1.6vw;
  }
  .inner-title {
    font-size: 5vw;
    line-height: 1;
    letter-spacing: 2vw;
  }
  .description {
    font-size: 1.5vw;
    line-height: 1.6;
  }
  .read-more-btn {
    font-size: 1vw;
    width: max-content;
    padding: 10px;
    color: white;
    background-color: black;
  }
}
